h1{
    text-align: center;
    color: rgb(130,76,113);
    font-family: Amatic SC;
    font-size: 40px;
    margin: 0px;
}
h2{	
   color: rgb(130,76,113);
   font-family: Amatic SC;
   font-size: 35px;
}
body{
    background-color: rgb(190,165,125);
    margin-top: 0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
}
p{
    color: rgb(74,37,69);
    font-family: Nunito;
    padding-top: 5px;
}
th{
    color: rgb(74,37,69);

}
td, tr {
    color:rgb(74,37,69);
    padding: 15px;
}
td, tr {
    color:rgb(74,37,69);
}
a{
    text-align: center;
    color:rgb(74,37,69);
}
ul{
    padding: 10px;
    font-family:  Nunito;
}
.hlinks{
	display: inline;
	padding: 5px 5px 5px 5px;
	color: rgb(130,76,113);
	font-family: Amatic SC;
	font-size: 35px;
}
.atm-links {
    color: rgb(130,76,113);
}
header{
    text-align:center;
    padding: 20px 0px 0px 0px;
    background-size: cover;
    background-position: center;
    background: url("images/background.jpg");
    background-repeat: no-repeat;
}
img{
	  border: 7px solid black;
	  border-radius: 20px;
	display: block;
	  margin: auto;
}
li{
    	color: rgb(130,76,113);
   	font-family:  Nunito;
}
.header-links {
	padding: 10px 10px 10px 10px;
    	background: rgba(0,0,0,0.5);

}
.title {
    	font-size: 60px;
   	margin: 0px;
    	padding: 100px 10px 30px 10px;
}
tr{
	height: 50px;
}
 article {
      max-width: 800px;
      padding: 20px;
      margin: 0 auto;
}
table, tr {
	font-family: 'Amatic SC', cursive;
	color: black;
	border: 1px solid rgb(130,76,113);
}
table {
	border-collapse: collapse;
	width: 100%;
}
